.shop-cart-container {
	display: grid;
	grid-template-columns: auto auto;
	.card-details {
	}
	.paypal-details {
		.card {
			background-color: #fff;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			padding: 20px;
			border-radius: 10px;
			width: 400px;
			margin: 20px auto;
			.total {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 1rem;
			}
			.spinner {
				border: 10px solid #f3f3f3; /* Light grey */
				border-top: 10px solid #3498db; /* Blue */
				border-radius: 50%;
				width: 80px;
				height: 80px;
				animation: spin 2s linear infinite;
			}

			@keyframes spin {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}
	}
}
