<mat-toolbar>
	<!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
		<mat-icon>menu</mat-icon>
	</button> -->
	<span>Merchant Name</span>

	<span class="example-spacer"></span>
	<!-- .mat-badge-content size is controlled by styles.scss -->
	<button class="cart-btn" routerLink="/shopping-cart" mat-icon-button [matBadge]="cardCount" [matBadgeHidden]="cardCount === 0" matBadgePosition="below after" matBadgeSize="medium" matBadgeColor="accent">
		<mat-icon>shopping_cart</mat-icon>
	</button>

	<!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
		<mat-icon>share</mat-icon>
	</button> -->
</mat-toolbar>

<router-outlet></router-outlet>
