.home-container {
	// padding: 3rem 0;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	.section-1 {
		// border: 1px solid red;
		text-align: center;

		mat-form-field {
			margin: auto;
		}
	}
	.prod-list {
		// background-color: #f5f5f5;
		// border: 1px solid red;
		display: flex;
		flex-wrap: wrap;
		// align-items: center;
		// justify-content: start;
		gap: 20px;
		padding: 1rem 1rem 1rem 1rem;
		.product {
			width: 200px;
			margin: auto;
			mat-card-header {
				justify-content: center;
				height: 60px;
				text-align: center;
			}
			// .prod-image {
			// 	width: 150px;
			// 	height: 150px;
			// 	margin: auto;
			// 	// img {
			// 	// 	width: 200px;
			// 	// 	height: 200px;
			// 	// }
			// 	// object-fit: cover;
			// }
			mat-card-content {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				// height: 100%;
				p {
					margin: 0;
					text-align: center;
					margin: 2px;
				}
			}
			mat-card-actions {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				button {
					width: 100%;
					margin: 5px;
				}
			}
		}
	}

	.empty-cart {
		text-align: center;
	}

	.section-3 {
		padding: 0 0.5rem;
		text-align: center;

		.cart-total {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1rem;
		}
		.cart-item {
			.cart-footer {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 1rem;
			}
		}
	}
}
