<div class="home-container">
	<div class="section-1">
		<h2>Search and find deals</h2>
		<button (click)="testRefresh()">Test refresh</button>
		<p>Shop our products and specials</p>

		<mat-form-field class="example-form-field" appearance="outline">
			<mat-label>Search Product</mat-label>
			<input #searchInput matInput type="text" />
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Filter Category</mat-label>
			<mat-select (selectionChange)="filterByCategory($event.value)">
				<mat-option>All</mat-option>
				<mat-option *ngFor="let cat of categories$ | async" [value]="cat.id">{{ cat.name }}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="prod-list">
		<mat-card class="product" *ngFor="let product of products">
			<mat-card-header>
				<mat-card-title align="center">{{ product.name }}</mat-card-title>
				<mat-card-subtitle>{{ product.description | shorten }}</mat-card-subtitle>
			</mat-card-header>
			<img class="prod-image" mat-card-image src="{{ product.image }}" />
			<mat-card-content>
				<p class="price">Price: {{ product.price | currency }}</p>
				<p class="type">{{ product.category?.name }}</p>
			</mat-card-content>
			<mat-card-actions>
				<button (click)="viewProduct(product)" mat-raised-button>View Product</button>
				<button color="primary" (click)="addToCart(product)" mat-raised-button>Add to cart</button>
			</mat-card-actions>
		</mat-card>
	</div>
	<div class="section-3">
		<h2>Sign up to shop & sell</h2>
		<!-- REGISTER -->
		<ng-container *ngIf="!isLogin">
			<app-register (changeAuthStateEvent)="onAuthStateChanged()"></app-register>
		</ng-container>

		<!-- LOGIN -->
		<ng-container *ngIf="isLogin">
			<app-login (changeAuthStateEvent)="onAuthStateChanged()"></app-login>
		</ng-container>
	</div>
</div>
