.prod-container {
	padding: 3rem 0;
	display: grid;
	grid-template-columns: 2fr 1fr;
	// gap: 40px;
	.prod-list {
		display: flex;
		flex-wrap: wrap;
		// align-items: center;
		// justify-content: start;
		gap: 20px;
		padding: 1rem;
		.product {
			width: 400px;
			margin: auto;
			mat-card-header {
				justify-content: center;
			}
			// .prod-image {
			// 	width: 150px;
			// 	height: 150px;
			// 	margin: auto;
			// 	// img {
			// 	// 	width: 200px;
			// 	// 	height: 200px;
			// 	// }
			// 	// object-fit: cover;
			// }
			mat-card-content {
				display: flex;
				// flex-direction: column;
				justify-content: space-evenly;
				height: 100%;
			}
			mat-card-actions {
				display: flex;
				justify-content: space-evenly;
			}
		}
	}

	.empty-cart {
		text-align: center;
	}

	.cart-info {
		padding: 0 3rem;

		.cart-total {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1rem;
		}
		.cart-item {
			.cart-footer {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 1rem;
			}
		}
	}
}

.single-column {
	grid-template-columns: 1fr;
}
